<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>

</head>

<body>
    <div class=container>
        <nav>
            <% include partials/nav.ejs %>
        </nav>
        <div class=profile_content>
            This is Profile page. Welcome to the profile of
            <%= person %>
                <p>Age:
                    <%= data.age %>
                </p>
                <p>Job:
                    <%= data.job %>
                </p>
                <h3>
                    Hobbies:
                </h3>
                <ul>
                    <% data.hobbies.forEach(function(item){ %>
                        <li>
                            <%= item %>
                        </li>
                        <% }); %>
                </ul>
        </div>
    </div>
</body>

</html>